.external {
	color: yellow;
}

*{
	font-family: 'open sans', sans-serif;
}

h1 {
	font-size: 47px;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
}

.hcj {
	background-color: #aed0a1;
}

.border {
	border: 1px solid #7faab8;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 55px;
}

img + ul {
	list-style: none;
}

ul > li {
	letter-spacing: 5px;
}

ul ~ p {
	text-align: center;
}